@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  @apply bg-gray-50 text-gray-900 transition-colors duration-300;
}

:global(.dark) body {
  @apply bg-gray-900 text-gray-100;
}
